<h1>Editar una Reseña nueva </h1>

<%= form_for(@review) do |f| %>
	<div class="field">
		<%= f.label :title %>
		<%= f.text_field :title %>
	</div>
	<div class="field">
		<%= f.label :content %>
		<%= f.text_area :content %>
	</div>
	<div class="field">
		<%= f.label :thumb_image %>
		<%= f.text_area :thumb_image %>
	</div>
		<div class="actions">
		<%= f.submit %>
	</div>
<% end %>