<h1>Reseñas de Libros</h1>

<%= link_to "Escribir una nueva Reseña", new_review_path %>

<% @reviews.each do |review| %>
	<p><%= link_to review.title, review_path(review) %></p>
	<p><%= review.content %></p>
	<p><%= image_tag review.thumb_image %></p>
	<%= link_to "Editar", edit_review_path(review.id) %>
	<%= link_to "Borrar", review, method: :delete, data: { confirm: 'Are you sure?' } %>
<hr>
<% end %>