<h1>Crear una Reseña nueva </h1>

<%= form_for(@review) do |f| %>
	<div class="field">
		<%= f.label :title %>
		<%= f.text_field :title %>
	</div>
	<div class="field">
		<%= f.label :content %>
		<%= f.text_area :content %>
	</div>
	<ul>
		<%= f.fields_for :tags do |tag_form|%>
			<li>
				<%= tag_form.label :name %>
				<%= tag_form.text_field :name %>
			</li>
		<% end %>
	</ul>
		<div class="actions">
		<%= f.submit %>
	</div>
<% end %>